/* SIZE OF IMAGES */
img {
  width: 250px;
  height: 250px;
}

/* ALIGN IMAGES */
/* img {
  margin-left: 200px;
} */

/* img {
  float: right;
} */

/* CENTERING IMAGE */
/* img {
  display: block;
  margin: auto;
} */

/* BACKGROUND IMAGES */
/* body {
  background-image: url("hamari-car.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1,
p {
  color: white;
} */

/* BACKGROUND POSITION */
/* body {
  background-image: url("hamari-bike.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* BACKGROUND SHORTHAND */
/* body {
  background: rgb(255, 255, 255) url("hamari-car.jpg") no-repeat top right;
 } */

/* Linear Gradients */
/* body {
  background-image: radial-gradient(red, yellow, green);
  background-repeat: no-repeat;
  block-size: cover;
  height: 70vh;
  border: 2px solid red;
  margin: auto;
} */

/* body {
  background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);
  background-repeat: no-repeat;
  block-size: cover;
  height: 70vh;
  border: 2px solid red;
  margin: auto;
} */

/* body {
  background-image: conic-gradient(red, yellow, green, blue, black);
  background-repeat: no-repeat;
  block-size: cover;
  height: 90vh;
  border: 2px solid red;
  border-radius: 50%;
  margin: auto;
} */
